name: Android Release

on:
  push:
    branches: [ "main", "dev" ]
    paths:
      - 'lib/**'
      - 'android/**'
      - 'pubspec.yaml'
      # - '.github/workflows/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true

    - name: Inject API Key
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        sed -i 's/API_KEY_PLACEHOLDER/'"$API_KEY"'/g' android/app/src/main/AndroidManifest.xml
        sed -i 's/API_KEY_PLACEHOLDER/'"$API_KEY"'/g' lib/utils/constants.dart

    - name: Download Android Keystore
      run: |
        echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
      
    - name: Build Android Universal APK
      env:
        STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      run: flutter pub get && flutter build apk --release

    - name: Rename APK
      run: mv build/app/outputs/flutter-apk/app-release.apk "build/app/outputs/flutter-apk/GPS Mock-Universal.apk"

    - name: Get Date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/') != true # Create release for main push or dispatch
      with:
        tag_name: v${{ steps.date.outputs.date }}
        name: Stable Release v${{ steps.date.outputs.date }}
        files: "build/app/outputs/flutter-apk/GPS Mock-Universal.apk"
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
